/* WRAPPER */

.staggered-menu-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 40;
}

.staggered-menu-wrapper.fixed-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}


/* HEADER */

.staggered-menu-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
}

.sm-logo-img {
  height: 32px;
  width: auto;
}


/* BUTTON */

.sm-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}


/* ICON */

.sm-icon {
  width: 14px;
  height: 14px;
  position: relative;
}

.sm-icon-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: currentColor;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* PANEL */

.staggered-menu-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: clamp(260px, 38vw, 420px);
  height: 100vh;
  background: white;
  z-index: 45;

  display: flex;
  flex-direction: column;

  padding: 120px 32px 32px 32px;

  box-shadow: -10px 0 30px rgba(0,0,0,0.1);

  will-change: transform;
}


/* LEFT POSITION SUPPORT */

[data-position="left"] .staggered-menu-panel {
  left: 0;
  right: auto;
}


/* PRELAYERS */

.sm-prelayers {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: clamp(260px, 38vw, 420px);
  z-index: 44;
}

[data-position="left"] .sm-prelayers {
  left: 0;
  right: auto;
}

.sm-prelayer {
  position: absolute;
  width: 100%;
  height: 100%;
}


/* MENU ITEMS */

.sm-panel-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sm-panel-item {
  font-size: 42px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 18px;
  transition: color 0.3s ease;
}

.sm-panel-item:hover {
  color: var(--sm-accent);
}


/* TEXT ANIMATION WRAPPER */

.sm-toggle-textWrap {
  overflow: hidden;
  height: 1em;
}

.sm-toggle-textInner {
  display: flex;
  flex-direction: column;
}
