@import "tailwindcss";

body{
    margin:0px;
    color: white;
    overflow-x: hidden;
}

.section{
    display: flex;
    justify-content: center;
    padding-inline: 4vw;
}

.section-content{
    max-width:1280px;
    width:100%;
}

.main{
    justify-content: center;
    
    flex-direction: column;
    display: flex;
    color:white;
    height:calc(1024px - 76px);
    align-items: center;
}

.main h1{
    font-size: 5vw;
    font-weight: bold;
}

.main a{
    border-radius: 5px;
    background-color: transparent;
    background-color: white;
    color: black;
    padding-block: 10px;
    padding-inline: 20px;
    z-index: 3;
    font-size: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.main a:hover{
    border-radius: 5px;
    background-color: black;
    color: blueviolet;
    padding-block: 10px;
    padding-inline: 20px;
    z-index: 3;
    font-size: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
}